* {
  margin: 0;
  padding: 0;
}

img {
  width: 0px;
  height: 0px;
  display: none;
}

.appear {
  width: 90%;
  height: 90%;
  display: inline-block;
  border-radius: 10px;
  margin: 0 auto;
}

td.card {
  width: 100px;
  height: 140px;
  border: 1px solid blue;
  border-radius: 10px;
  text-align: center;
  font-size: 36px;
  background-color: #fff;
  box-shadow: rgba(128, 128, 128, 0.5) 5px 5px;
}

td.back {
  background-image: url('img/card.png');
  background-size: 100px 140px;
}
